.newtext {
  /* color: rgb(25, 215, 91); */
  font-size: 40px;
  /* text-decoration: line-through; */
  /* text-transform: capitalize; */
  /* text-align: right; */
  text-align: justify;
}
/* 
.box {
  width: 300px;
  height: 300px;
  border: 2px solid #ddd;
}

p {
  padding: 10px;
  text-align: justify;
} */

/* h2 {
  text-shadow: 6px 12px 1px gray;
} */

/* p { */
/* text-indent: 100px; */
/* letter-spacing: 10px; */
/* word-spacing: 40px; */
/* line-height: 1; */
/* white-space: nowrap; */

/* font-weight: 900;
  font-size: 30px; */
/* font-family: Arial; */
/* } */

@font-face {
  font-family: "new";
  src: url("fonts/lalezar.ttf") format("truetype"),
    url("fonts/lalezar.woff") format("woff");
}

p {
  font-family: Arial, Helvetica, sans-serif;
}
